<!DOCTYPE html>
<html>
<head>
    <title>Sails-Auth - Your awesome Node.js app | ICENodes </title>
    <meta name="description"  content="Sails.js Auth base template with PassportJS support. Built by ICENodes" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@icenodes">
    <meta name="twitter:title" content="Sails.js Auth base template with PassportJS support">
    <meta name="twitter:description" content="Sails.js Auth base template with PassportJS support. Node.js project developed by ICENodes">
    <meta name="twitter:creator" content="@bmustata">
    <meta name="twitter:image" content="http://sails-auth-super-template.icenodes.com/images/sails-auth-share.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Sails.js Auth base template with PassportJS support" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://sails-auth-super-template.icenodes.com" />
    <meta property="og:image" content="http://sails-auth-super-template.icenodes.com/images/sails-auth-share.jpg" />
    <meta property="og:description" content="Sails.js Auth base template with PassportJS support. Node.js project developed by ICENodes" />
    <meta property="og:site_name" content="ICENodes" />

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.png">

    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
</head>

<body>
<%- body %>

<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/components/underscore/underscore.js"></script>
<script src="/components/moment/moment.js"></script>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<!--SCRIPTS END-->
</body>
</html>
