/* ===============================================
  General
=============================================== */

body {
    font-family: 'Roboto', sans-serif;
}

.accountmenu-container {
    position: relative;
    width: 100%;
    height: 75px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #bcbcbc;
}

.appname-text {
    position: relative;
    float: left;
    margin: 22px 0 0 10%;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.arrow-image {
    display: block;
    position: absolute;
    top: 24px;
    right: 9.3352754237%;
    z-index: 2;
    width: 30px;
    height: auto;
    overflow: hidden;
}

.fb-share {
    display: block;
    position: relative;
    float: left;
    height: 42px;
    border-radius: 3px;
    background-color: #3b5998;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 38px;
    color: rgb(255, 255, 255);
    z-index: 4;
    width: 160px;
    margin: 10px 0 0 1%;
    text-decoration: none;
}

.fb-share:hover {
    color: #aaa;
    text-decoration: none;
}

.twitter-share {
    display: block;
    position: relative;
    float: left;
    clear: both;
    height: 42px;
    border-radius: 3px;
    background-color: #55acee;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 38px;
    color: rgb(255, 255, 255);
    width: 150px;
    margin: 10px 0 0 5%;
    text-decoration: none;
}

.twitter-share:hover {
    color: #aaa;
    text-decoration: none;
}

.sails-js-image {
    display: block;
    position: relative;
    float: left;
    clear: both;
    width: 653px;
    height: auto;
    margin-left: 5%;
    overflow: hidden;
}

.sails-js-image-2 {
    margin-top: 50px;
}

.grass-image {
    display: block;
    position: fixed;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    bottom: -1px;
}

.btn-signin {
    display: block;
    float: right;
    width: 108px;
    height: 40px;
    margin: 15px 9.9997399999% 0 0;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    color: rgb(141, 141, 141);
}

.share-text {
    float: left;
    clear: both;
    min-height: 23px;
    color: rgb(101, 101, 101);
    position: relative;
    z-index: 2;
    width: 80%;
    margin: 20px 0 0 5%;
    font-weight: normal;
}

.config-text {
    position: relative;
    float: left;
    clear: both;
    z-index: 1;
    width: 80%;
    min-height: 123px;
    margin: 20px 0 0 5%;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.38;
    color: rgb(99, 99, 99);
}

.config-text p {
    margin-bottom: 1em;
}

/* ===============================================
  Homepage
=============================================== */

/* ===============================================
  Login
=============================================== */

.auth-cont {
    position: relative;
    float: left;
    width: 400px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    margin: 30px 10px;
}

.auth-cont .header {
    float: left;
    clear: both;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.auth-cont .subheader {
    width: 100%;
    min-height: 25px;
    font-size: 1em;
    color: rgb(108, 108, 108);
    float: left;
    clear: both;
}

.auth-cont .text {
    text-align: center;
}

/* Email */
.auth-cont .email-container {
    float: left;
    clear: both;
    width: 73.5607675906%;
    height: 36px;
    margin-left: 13.21844%;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    margin-top: 9px;
}

.auth-cont .email-field {
    width: 85%;
    display: block;
    float: right;
    height: 32px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    color: #a9a9a9;
    outline: 0;
    border: 0;
}

/* Password */
.auth-cont .password-container {
    float: left;
    clear: both;
    width: 73.5607675906%;
    height: 36px;
    margin: 9px 0 0 13.21844%;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
}

.auth-cont .pass-field {
    display: block;
    float: right;
    width: 85%;
    height: 32px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    color: #a9a9a9;
    outline: 0;
    border: 0;
}

/* Username */
.auth-cont .username-container {
    float: left;
    clear: both;
    width: 73.3668341708%;
    height: 41px;
    margin: 14px 0 0 13.21844%;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
}

.username-container .email-field {
    width: 85.5172413793%;
    margin-top: 4px;
}

/* Login Button */
.auth-cont .login-btn {

    float: left;
    clear: both;

    width: 73.5607675906%;
    height: 46px;
    margin: 14px 0 0 13.21844%;

    border: 1px solid rgb(168, 168, 168);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #000;
}

/* SocialLogin Button */
.auth-cont .sociallogin-btn {

    float: left;
    margin: 14px 0 0 13.21844%;

    width: 73.5607675906%;
    height: 46px;

    border-radius: 5px;
    background-color: #2593e8;

    font-size: 14px;
    line-height: 40px;
    text-align: center;

    color: rgb(255, 255, 255);
}

.auth-cont .sociallogin-facebook {
    background-color: #3b5998;
}

.auth-cont .sociallogin-twitter {
    background-color: #55acee;
}

.auth-cont .usersocial {
    float: left;
    clear: both;
    width: 99.5735607675%;
    min-height: 17px;
    margin: 16px 0 0 0.212%;
    font-size: 14px;
    color: rgb(67, 67, 67);
}

.auth-cont .signup {
    float: left;
    min-height: 17px;
    font-size: 14px;
    color: rgb(67, 67, 67);
    width: 99.1471215351%;
    margin: 13px auto 5px;
}

/* Create account */
.auth-cont .create-btn {
    float: left;
    width: 73.5607675906%;
    height: 46px;
    margin: 9px 0 0 13.21844%;
    border-radius: 5px;
    background-color: #2593e8;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 0;
}

/* ===============================================
  Account
=============================================== */

.user-box {
    position: relative;
    float: right;
    clear: both;
    width: 120px;
    height: 75px;
    margin: -57px -1px 0 0;
    border: 1px solid #bcbcbc;
    background-color: #ffffff;
}

.user-circle {
    float: right;
    width: 50px;
    height: 50px;
    margin: 13px 39.75106% 0 0;
    border-radius: 25px;
    background-color: #2593e8;
}

.user-text {
    width: 50px;
    margin: 14px auto 0;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.38;
    text-align: center;
    color: rgb(255, 255, 255);
}

.dropdown-menu-account {
    min-width: 100%;
}

/* ===============================================
  Icons
=============================================== */

.close-icon {
    display: block;
    float: right;
    width: 32px;
    height: auto;
    margin: 5px 5px 0 0;
    overflow: hidden;
}

.password-icon {
    display: block;
    float: left;
    width: 25px;
    height: auto;
    margin: 5px 0 0 3.05229%;
    overflow: hidden;
}

.person-icon {
    display: block;
    float: left;
    width: 30px;
    height: auto;
    margin: 4px 0 0 2.85022%;
    overflow: hidden;
}

.email-icon {
    display: block;
    float: left;
    width: 25px;
    height: auto;
    margin: 5px 0 0 3.3693399999%;
    overflow: hidden;
}

.password-icon {
    display: block;
    float: left;
    width: 25px;
    height: auto;
    margin: 5px 0 0 3.05229%;
    overflow: hidden;
}

.person-icon {
    display: block;
    float: left;
    width: 30px;
    height: auto;
    margin: 4px 0 0 2.85022%;
    overflow: hidden;
}
